@font-face {
    font-family: 'Dosis';
    font-display: auto;
    src: url(/fonts/Dosis-Regular.ttf) format('truetype');
    font-display: swap;
	font-weight: normal;
}

@font-face {
    font-family: 'Dosis';
    font-display: auto;
    src: url(../fonts/Dosis-SemiBold.ttf) format('truetype');
    font-display: swap;
	font-weight: bold;
}

.titulo{
	font-family: 'Press Start 2P';
	font-size: medium;
}

:root {
    --text-size: 22px;
}

::placeholder {
	color: #1089ff;
	font-family: Dosis, sans-serif;
	font-size: 22px;
}

*:focus::placeholder {
	color: #23374d;
}

::-moz-selection {
    color: #fff;
    background: #1089ff;
}

::selection {
    color: #fff;
    background: #1089ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.ap {
	height: 100%;
}

.return {
	height: 100%;
	width: 68px;
	min-width: 68px;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
    justify-content: center;
    color: #fff;
    transition: 0.5s;
}

.return:hover {
	transition: 0.5s;
	background-color: #23374d;
	color: #1089ff;
	cursor: pointer;
}

.return.conf {
	background-color: transparent;
	color: transparent;
	cursor: initial;
}

.dosis {
	font-family: Dosis, sans-serif;
}

.title {
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
}

.title div#title {
	height: 50px;
	width: 187.5px;
}

.title h2 {
	font-family: Dosis, sans-serif;
	font-size: 35px;
	color: #fff;
}

main {
	min-height: calc(100vh - 66px);
	padding-top: 100px;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	overflow: hidden;
}

main.principal {
	flex-direction: column;
}

main.principal h2 {
	text-align: center;
	padding: 20px;
	margin-bottom: 10px;
}

.results {
	max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

h3.code {
	font-size: 100px;
	color: #1089ff;
}


/*---[TOOL SEARCH ENGINE]---*/

.container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container h2 {
	margin-bottom: 20px;
	text-align: center;
	font-size: 28px;
}

.container h1 {
	margin-bottom: 10px;
	padding: 0 30px;
	color: #23374d;
	text-align: center;
}

.container .alert, p.alert {
	padding: 10px;
	background-color: #ff305026;
	border-radius: 3px;
	border: 2px solid #ff3050;
	text-align: center;
	font-size: 20px;
	color: #ff3050;
	margin-bottom: 20px;
	right: 20px;
}

/*---[TOOL STRUCTURE]---*/
.container .tool {
	max-width: 100%;
	width: 100%;
	padding: 0 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container .tool p {
	font-size: 20px;
}

.container .tool p.centered {
	text-align: center;
}

.container #tool {
	max-width: 100%;
	display: inherit;
	align-items: inherit;
	justify-content: inherit;
	flex-direction: inherit;
	font-size: 20px;
}

.container #tool:-moz-full-screen {
	height: 100%;
    width: 100%;
    background-color: #fff;
}

.container #tool:-webkit-full-screen {
	height: 100%;
    width: 100%;
    background-color: #fff;
}

.container #tool:fullscreen {
	height: 100%;
    width: 100%;
    background-color: #fff;
}

.container #tool:-moz-full-screen #number {
    font-size: 10em;
}

.container #tool:-webkit-full-screen #number {
    font-size: 10em;
}

.container #tool:fullscreen #number {
    font-size: 10em;
}

.container .extra {
	padding-top: 10px;
	max-width: 1200px;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}

.container .extra .principal {
	height: 100%;
	flex: 70%;
	padding: 0 30px 0 30px;
}

.container .extra .principal ul {
	margin-left: 20px;
    font-size: 20px;
}

.container .extra .principal iframe {
	width: 100%;
	height: 315px;
	margin: 5px 0; 
	border-radius: 4px;
}

.container .extra .principal .canvas {
	display: flex;
	justify-content: center;
}

.container .extra .principal .canvas canvas {
	/*width: 100%;
	height: 300px;*/
	background-color: #e6f3ff;
	border: 1px solid #e6f3ff;
	border-radius: 3px;
	margin-bottom: 10px;
}

.container .extra .sidebar {
	height: 100%;
	flex: 30%;
	padding: 0 30px 0 30px;
	max-width: 500px;
	border-left: 1px solid #ccc;
}

.container .extra .sidebar img {
	margin-top: 10px;
	width: 100%;
	border-radius: 3px;
}

.container .extra .sidebar video {
	width: 100%;
	margin-top: 10px; 
	border-radius: 3px;
}

.container .extra h2 {
	margin: 0;
	font-size: 24px;
}

.container .extra h3 {
	color: #212121;
	text-align: justify;
	font-size: 20px;
}

.container .extra h4 {
	margin: 0;
	text-align: center;
	font-size: 24px;
}

.container .extra p {
	text-align: justify;
	font-size: 20px;
}

.container .extra div.separator, div.separator {
	height: 1px;
	width: 100%;
	background-color: #ccc;
	margin: 10px 0 10px 0;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.row button {
	border: 1px solid #ddd;
	background: #efefef;
	color: #23374d;
	margin: 10px 10px 0 0;
}

@-webkit-keyframes leave {
    from {left: -300px; opacity: 0} 
    to {left: calc(50% - 250px); opacity: 1}
}

@keyframes leave {
    from {left: -300px; opacity: 0}
    to {left: calc(50% - 250px); opacity: 1}
}

@-webkit-keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}


/*---[BUTTONS]---*/
button, span.button, a.button {
	border: none;
	padding: 10px 20px 10px 20px;
	font-family: Dosis, sans-serif;
	font-size: var(--text-size, 22px);
	margin: 10px;
	border-radius: 3px;
	color: #fff;
	outline: 0;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

button:hover , label.naranja{
	cursor: pointer;
}

button.blue, span.button.blue {
	background-color: #1089ff;
	border: 1px solid #1089ff;
}

button.dark, a.button.dark {
	background-color: #efefef;
    color: #23374d;
    border: 1px solid #ddd;
}

/*---[TEXTAREA]---*/
textarea {
	width: 85%;
	max-width: 400px;
	height: 10em;
    min-height: 8em;
    max-height: 24em;
    color: #23374d;
    background-color: transparent;
    border: 2px solid rgba(16, 137, 255, 1);
    padding: 10px;
    border-radius: 3px;
    overflow: auto;
    font-size: var(--text-size, 22px);
    /*-webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;*/
    transition: 0.5s;
    resize: vertical;
    font-family: Dosis, sans-serif;
    outline: 0;
}

textarea:hover {
	background-color: transparent;
    border: 2px solid rgba(16, 137, 255, 1);
	transition: 0.5s;
}

textarea:focus {
	/*background-color: #dfebed;*/
	background-color: transparent;
	border: 2px solid rgba(16, 137, 255, 1);
	color: #000;
}

/*---[ITEMS]---*/
.number {
	margin-bottom: 40px;
	font-family: Digital-7, Arial;
	color: #23374d;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.number #number {
	font-size: 100px;
	line-height: 100px;
}

.number #milliseconds {
	font-size: 50px;
	line-height: 100px;
	padding-top: 20px;
}

.extra, .result {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.extra span {
	font-size: var(--text-size, 22px);
	color: #23374d;
	margin: 0 10px 0 10px;
	text-decoration: underline;
	cursor: pointer;
}

.date-picker {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.date-picker div {
	font-size: var(--text-size, 22px);
	margin: 10px;
}

.value-pickers {
	font-size: var(--text-size, 22px);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.value-pickers .value-picker {
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input[type="date"],input[type="number"] {
	max-height: 41px;
    color: #454545;
    background-color: #efefef;
    border: 1px solid #efefef;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: var(--text-size, 22px);
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    font-family: Dosis, sans-serif;
    outline: 0;
    cursor: pointer;
}

input[type="number"] {
	width: 100%;
}

input[type="number"]:hover {
	background-color: #ddd;
	border: 1px solid #ddd;
}

input[type="date"]:hover {
	background-color: #ddd;
	border: 1px solid #ddd;
	transition: 0.5s;
}

input[type="date"]:focus {
	/*background-color: #dfebed;*/
	background-color: transparent;
	border: 1px solid #ddd;
	color: #000;
	transition: 0.5s;
}

input[type="button"] {
	outline: 0;
}

select {
    padding: 5px 10px;
    width: 200px;
    font-size: var(--text-size, 22px);
    font-family: inherit;
    color: #454545;
    border: 1px solid #efefef;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #efefef;
    transition: 0.5s;
    cursor: pointer;
    outline: none;
}

select:hover {
    border: 1px solid #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ddd;
}

select:focus {
	color: #000;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

input[type="range"] {
	margin: 10px 0 10px 0;
	-moz-appearance: none;
    -webkit-appearance: none;
    background-color: #efefef;
    width: 300px;
    height: 15px;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 3px;
    outline: 0;
}

input[type="range"]:hover {
    background-color: #ddd;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #1089ff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #1089ff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

table {
	margin: 0;
	padding: 0;
	font-family: Dosis, sans-serif;
}

td {
	text-align: center;
}

.display {
	width: 100%;
	color: #fff;
    background-color: rgba(16, 137, 255, 0.9);
    border: 1px solid rgba(16, 137, 255, 0.9);
    box-shadow: inset 0 -4px 0 0 rgba(0,0,0,.2);
    padding: 5px;
    border-radius: 3px;
    font-size: var(--text-size, 22px);
    /*-webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;*/
    transition: 0.5s;
    outline: 0;
    font-family: Dosis, sans-serif;
}

.display:hover {
	background-color: rgba(16, 137, 255, 1);
	border: 1px solid rgba(16, 137, 255, 1);
	transition: 0.5s;
}

.display:focus {
	background-color: transparent;
	border: 1px solid rgb(16, 137, 255);
	color: #23374d;
}

.input {
	margin: 10px;
	width: 200px;
	color: #23374d;
    background-color: transparent;
    border: 2px solid rgba(16, 137, 255, 1);
    padding: 10px;
    border-radius: 3px;
    font-size: var(--text-size, 22px);
    transition: 0.5s;
    outline: 0;
    font-family: Dosis, sans-serif;
}

.input:hover {
	background-color: transparent;
	border: 2px solid rgba(16, 137, 255, 1);
	transition: 0.5s;
}

.input:focus {
	background-color: transparent;
	border: 2px solid rgba(16, 137, 255, 1);
	color: #23374d;
}

.result {
	font-size: 24px;
	color: #23374d;
}

.result.big {
	font-size: 50px;
}

.result span {
	font-size: var(--text-size, 22px);
	color: #23374d;
	margin: 0 10px 0 10px;
}

/*---[KEYPAD]---*/
td.key {
	width: 40px;
    height: 50px;
    background-color: #e7e7e7;
    border-radius: 2px;
    box-shadow: inset 0 -4px 0 0 rgba(0,0,0,.2);
    padding: 7px 0 9px 0;
    cursor: pointer;
}

td.key:active {
	box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.2);
}

td.key.blue {
	background-color: #1089ff;
}

td.key.yellow {
	background-color: #ffaa00;
}

td.key.magenta {
	background-color: #ff3050;
}

.tbtn {
    margin: 0.5px;
    padding: 0 30px;
    background-color: #e7e7e7;
    color: #000;
    font-size: var(--text-size, 22px);
    font-family: Dosis, sans-serif;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.tbtn.dark {
	background-color: #23374d;
	color: #fff;
}

.tbtn.equal {
	background-color: #1089ff;
	font-weight: 900;
	color: #fff;
}

.tbtn sup {
	font-size: 16px;
}

.selector {
	display: flex;
	flex-direction: row;
	/*justify-content: space-between;*/
	margin-top: 10px;
}

.selector div {
	margin-right: 10px;
}

.selector div p {
	font-size: var(--text-size, 22px);
}

div.table {
	display: flex;
	flex-direction: row;
}

div.table span {
	display: flex;
	flex-direction: column;
	margin: 10px;
	text-align: center;
	border-radius: 3px;
	border: 2px solid #1089ff;
	font-size: 20px;
}

div.table span h4{
	padding: 5px 10px 5px 10px;
	background-color: #1089ff;
	color: #fff;
}

div.table span p {
	padding: 5px 10px 5px 10px;
	background-color: #fff;
}

/*---[SHARE]---*/
.share {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}
.share a, .share div {
	padding: 7.5px 10px;
	height: 40px;
	width: 40px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	margin: 3px !important;
	outline: 0;
	transition: 0.5s;
	display: flex;
    justify-content: center;
    align-items: center;
}

/*---[RESPONSIVE]---*/
@media only screen and (max-width: 1000px) {
	/*section.info {
    	max-width: 700px;
    }*/
    .container .extra .sidebar {
    	display: none;
    }
}

@media only screen and (max-width: 750px) {
	/*section.presentation aside div.mas_options {
		display: none;
	}
	section.presentation aside div.circulos {
		display: flex;
	}*/
	section.presentation aside div {
		flex: 100%;
		padding: 10px;
	}
	section.presentation aside div {
		flex: 100%;
	}
	section.what-is-this aside {
		padding: 30px;
	}
}

@media only screen and (max-width: 450px) {
	/*main {
		margin-bottom: 150px;
	}*/
	.movil {
		display: flex !important;
	}
	.nomovil {
		display: none !important;
	}
	header aside.header {
		justify-content: center;
	}
	header aside.header nav {
		display: none;
	}
	main{
		overflow-x: hidden;
	}
	.container h2 {
		max-width: 300px;
	}
    .extra, .result {
    	flex-direction: column;
    }
    .number #number {
    	font-size: 70px;
    }
    .number #milliseconds {
    	font-size: 40px;
    	/*margin-top: 15px;*/
    }
    textarea {
    	height: 10em;
    }
    select {
    	width: 100px;
    }
    .tbtn {
    	padding: 10px 20px;
    }
    div.table {
    	flex-direction: column;
    }
    .modal {
    	width: calc(100% - 40px);
    	/*height: 80%;*/
    	z-index: 5;
    }
    /*section.info {
    	max-width: 300px;
    }*/
    .share a.whatsapp {
    	display: flex !important;
    }
    .share div#___sharetoclassroom_0 {
    	display: none !important;
    }
    .pegajoso {
    	display: none;
	}
	.copy-text h3 {
		overflow-wrap: break-word;
		max-width: 250px;
	}
}

@media only screen and (max-width: 1100px) {
	header aside.header {
		max-width: 830px;
	}

	section.presentation aside {
		max-width: 830px;
	}

	section.presentation aside div.index ul.group {
		column-count: 2;
	}

	section.what-is-this aside {
		max-width: 830px;
	}
}

@media only screen and (max-width: 830px) {
	header aside.header {
		max-width: 560px;
	}

	section.presentation aside {
		max-width: 560px;
	}

	section.what-is-this aside {
		max-width: 560px;
	}

	section.presentation aside div.index ul.group {
		column-count: 1;
	}
}

/*---[ERRORS]---*/


.anim {
	animation: typewrite 1.5s steps(4) 1s 1 normal both, 
	bar 1s steps(4) infinite normal;
}

@keyframes typewrite {
	from{
		width: 0;
	}
	to{
		width: 200px;
	}
}

@keyframes bar {
	0%{
		border-right-color: #23374d;
	}
	25%{
		border-right-color: #23374d;
	}
	50%{
		border-right-color: transparent;
	}
	75%{
		border-right-color: transparent;
	}
	100%{
		border-right-color: #23374d;
	}
}

/*---[ADVERTISEMENT]---*/
.qc-cmp-persistent-link {
	display: none !important;
}

.ad-medium-rectangle {
    display: flex;
    justify-content: center;
	margin: 10px 0;
}

.ad-megabanner {
	max-height: 100px;
	margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
	display: inherit;
}

.ad-medium-rectangle.edu {
	margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
	.ad-megabanner {
		display: none;
	}
}

@media screen and (max-width: 950px) {
	.ad-megabanner {
		display: inherit;
	}
}

@media screen and (max-width: 815px) {
	.ad-megabanner {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.ad-megabanner {
		display: inherit;
	}
}

@media screen and (min-width: 500px) {
	/*.ad-medium-rectangle {
		display: none;
	}*/
}

@media screen and (max-width: 800px) {
	.ad-medium-rectangle.edu {
		display: inherit;
	}
}

@media screen and (min-width: 1120px) {
	.ad-medium-rectangle.edu {
		display: inherit;
	}
}