body{
	background: linear-gradient(to right, #1083c5, #054265);
	color:  white;
	font-family: 'Press Start 2P';
}

h1, h2{
	text-align:  center;
}

h1{
	font-size:  3em;
}

h2{
	font-size:  2.0em;
}

#tablero{
	margin: auto;
	width: 400px;
	max-width:  50%;
	display:  flex;
	flex-wrap:  wrap;
}

#tablero>button{
	width: 180px;
	height: 150px;  
	max-width: 33.0%;
	font-size:  8em;
}

#textoVictoria{
	visibility: hidden;
	color:whitesmoke;
}