*{
	transition: all 0.3s;
}

body{
	background: linear-gradient(to right, #1083c5, #054265);
	color:  white;
	font-family: 'Press Start 2P';
}

h1, h2{
	text-align:  center;
}

h1{
	font-size:  3em;
}

h2{
	font-size:  2.0em;
}

.contenedor{
	width: 98vw;
	height: 95vh;
	display: inline-flex;
	flex-direction:row;
	justify-content: center;
	align-items:flex-start;
}

.caja_tablero{
	background-color: yellowgreen;
	width: 700px;
    height: 600px;
    float: left;
}

#tablero{
	margin: auto;
	width: 400px;
	max-width:  50%;
	display:  flex;
	flex-wrap:  wrap;
}

#tablero>button{
	width: 180px;
	height: 150px;  
	max-width: 33.0%;
	font-size:  8em;
}

#textoVictoria{
	visibility: hidden;
	color:whitesmoke;
}

.caja_preguntas{
	background-color: violet;
	width: 550px;
    height: 600px;
    float: left;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.encabezado {
	background-color: rgb(99, 30, 30);
	min-width: 300px;
	width: 70%;
	max-width: 600px;
	display: grid;
	justify-items: center;
	padding: 10px;
}

.categoria{
	opacity: 0.3;
	text-align: left;
}

.pregunta{
	padding: 10px;
}

.imagen{
	object-fit: cover;
	height: 200px;
	width: 100%;
}

.btn{
	background: #054265;
	width: 60%;
	max-width: 550px;
	padding: 10px;
	margin: 5px;
}

.btn:hover{
	background: #1083c5;
	cursor: pointer;
	transform: scale(1.05);
}