/*---[TOOLS]---*/

/*---[TRUTH TABLE]---*/
.truth.table {
	max-width: 100%;
	overflow-x: auto;
}

.truth.table table#truthTable {
	border-collapse: collapse;
}

.truth.table table td {
	padding: 5px 8px;
    border: 1px solid #ddd;
}

.type.truth-table {
	padding-top: 10px;
	font-size: 20px;
}

.type.truth-table input[type="radio"] {
	margin: 5px;
}

/*---[CHRONOMETER]---*/
table.lap {
	/*border: 1px solid #ccc;*/
	background-color: rgba(16, 137, 255, 0.1);
	border-radius: 3px;
	padding: 10px;
}

table.lap thead {
	font-size: var(--text-size, 22px);
}

table.lap tbody {
	font-family: Digital-7, sans-serif;
	font-size: var(--text-size, 22px);
	line-height: 20px;
}

table.lap td {
	padding: 5px 10px;
}

/*---[TONE GENERATOR]---*/
.table.notes {
	position: absolute;
	z-index: 1;
	top: 350px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.table.notes table {
	background-color: #fff;
	border: 1px solid #efefef;
	padding: 5px;
	-webkit-box-shadow: 0 0px 3px 0 rgba(34,36,38,.2);
    box-shadow: 0 0px 3px 0 rgba(34,36,38,.2);
    border-radius: 5px;
}

.table.notes table tr th#closeNotes {
	cursor: pointer;
}

.table.notes table tr td {
	padding: 3px 7px 3px 7px;
	background-color: #efefef;
	border: 0.5px solid #ddd;
	border-radius: 3px;
	cursor: pointer;
}


